.App {
  text-align: center;
  padding: 2rem;
}

.filters {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.product-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}


/* Genel stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select,
.filters input {
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.filters select:focus,
.filters input:focus {
  border-color: #051321;
  box-shadow: 0 0 0 1px;
}

.filters select {
  width: 160px;
}

.filters input[type="text"] {
  flex: 1;
  max-width: 250px;
  margin-right: auto;
}

.filters input[type="text"]::placeholder {
  color: #999;
  font-style: italic;
}

/* Dropdown Cart için stil */
.dropdown-cart {
  position: relative;
  display: inline-block;
}

.cart-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.cart-icon:hover {
  background-color: #0056b3;
}

.cart-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.dropdown-cart:hover .cart-dropdown {
  display: block;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.cart-item p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.cart-item button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #c82333;
}

.cart-summary {
  padding: 10px 15px;
  text-align: center;
}

.cart-summary h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.cart-summary button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.cart-summary button:hover {
  background-color: #0056b3;
}
